<div class="container py-5">
  <div class="row">
    <div class="col-5 text-center">
      <h2 class="heading" data-en="MemberIndex">会員一覧</h2>
    </div>
    <%= render 'public/searches/search_form_customer_public' %>
  </div>
    <%= render 'public/customers/customer_index_public', customers: @customers %>
</div>