<div class="container">
  <div class="row">
    <div class="col-11 offset-1">
      <h3 class="mb-5 mini-title"><%=@customer.nick_name %>さんのページ</h3>
    </div>
  </div>
  <%= render 'public/customers/customer_show_public', posts: @posts, customer: @customer %>
</div>