<div class="container">
  <div class="row">
    <div class="col-11 offset-1">
      <h3 class="mb-5 mini-title"><%=@customer.nick_name %>さんのページ</h3>
    </div>
  </div>
  <%= render 'shared/customer/show', posts: @posts, customer: @customer %>
</div>