<div class="container py-5">
  <div class="row">
    <div class="col-md-5 col-12 text-center">
      <h2 class="heading member-info" data-en="MemberInfo"><%=@customer.nick_name %>さんのページ</h2>
    </div>
  </div>
    <%= render 'public/customers/customer_show_public', posts: @posts, customer: @customer %>
</div>