<div class="container py-5">
  <div class="row">
    <div class="col-5 text-center">
      <h2 class="heading" data-en="MemberInfo"><%=@customer.nick_name %>さんのページ</h2>
    </div>
  </div>
    <%= render 'public/customers/customer_show_public', posts: @posts, customer: @customer %>
</div>