<div class="container py-5">
  <div class="row">
    <div class="col-5 text-center">
      <h2 class="heading " data-en="PostEditing">投稿編集</h2>
    </div>
  </div>
  <%= render 'public/posts/post_edit_form_public', post: @post %>
</div>
