<div class="container">
  <div class="row">
    <h3 class="col mini-title">投稿一覧</h3>
      <%= render 'shared/searches/search_form_post' %>
  </div>
  <%= render 'public/posts/post_index_public', posts: @posts, customer: @customer %>
</div>