<div class="container">
  <div class="row">
    <h3 class="col mini-title">新規投稿</h3>
      <%= render 'shared/searches/search_form_post' %>
  </div>
  <%= render 'public/posts/post_new_form', post: @post %>
</div>

