<div class="container py-5">
  <div class="row">
    <div class="col-5 text-center">
      <h2 class="heading " data-en="NewPost">新規投稿</h2>
    </div>
  </div>
  <%= render 'public/posts/post_new_form', post: @post %>
</div>

