<div id="container py-5">
  <div class="row pt-5">
    <div class="col-md-10 offset-md-1 text-center">
      <h1 style="font-size:55px;">About</h1>
    </div>
  </div>
  <div class= "row d-flex justify-content-center">
    <div class= "card border border-0 mt-5" >
      <div id="slide">
        <div id="theTarget">
          <div class="image1"></div>
          <div class="image2"></div>
          <div class="image3"></div>
          <div class="image4"></div>
          <div class="image5"></div>
        </div>
      </div>
      <div class="card-img-overlay d-flex justify-content-center align-items-center" >
        <p class="card-text">
        ドローン初心者のドローン初心者によるドローン初心者のためのサイトです。<br>
        <br>
        『一体どこでドローンが飛ばせるの！？』<br>
        法律や条例などの規制、申請などのルールも多く、ハードルが高い！<br>
        こう感じているドローン初心者は多いはず。<br>
        もちろんドローン初心者ではない経験値のある方にも<br>
        情報交換の場として使っていただけると幸いです。<br>
        ただのコミュニティサイトではなく<br>
        『結局、自分はなにをすべきなのかわからない』<br>
        そんな初心者のためのガイド機能もあります！<br>
        <br>
        このサイトが少しでもドローンパロット達の一助となり<br>
        少しでも空撮の楽しさを味わってもらえれば幸いです。<br>
        </p>
      </div>
    </div>
  </div>
</div>