<h1>about</h1>
ドローン初心者のドローン初心者によるドローン初心者のためのサイトです。

『一体どこでドローンが飛ばせるの！？』
法律や条例などの規制、申請などのルールも多く、ハードルが高い！
こう感じているドローン初心者は多いはず。
もちろんドローン初心者ではない経験値のある方にも
情報交換の場として使っていただけると幸いです。
ただのコミュニティサイトではなく
『結局、自分はなにをすべきなのかわからない』
そんな初心者のためのガイド機能もあります！

このサイトが少しでもドローンパロット達の一助となり
少しでも空撮の楽しさを味わってもらえれば幸いです。

