<div class="bg">
  <span class="title">
    <span class="text-light">no drone no life </span>
    <span class="text-light">Dro-Ful</span>
  </span>
  <div class="blinking">
    <div>あなたの空撮をサポートします！</div>
　</div>
　<div></div>
　<div></div>
　<div></div>
  <div href="#" class="js-modal-top btn btn-danger offset-9 col-2" data-target="modal-top">
    こちらをクリック！！<br>
    Let's Check Out !!!
  </div>
</div>

<div id="modal-top" class="modal js-modal">
  <div class="modal-bg js-modal-close">
  </div>
    <div class="modal-top-content-js">
      <div type="button" class="close js-modal-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </div>
      <h2 class="mt-2 mb-4 text-center"><b>ドローン初心者サポート！<br>
          空撮ToDoリスト</b></h2>
      <p class="text-center" style="font-size:18px">
        こちらではドローン空撮を行うにあたって<br>
        『結局、自分はなにをすべきなのかわからない！』<br>
        そんなあなたに空撮に必要なやるべき事をリストアップしております！<br>
        この機能を活用いただき、詳しい事はこのコミュニティーのメンバーとの<br>
        コメントでの交流やご自身で調べながら、空撮ライフを満喫してください！
      </p>
      <p class="text-center" style="font-size:13px">
        ※あくまでサポート的な機能ですので、参考程度に留めて頂くようお願いいたします。<br>
        おおまかな項目となり詳細までの説明は割愛させて頂いております。<br>
        各項目の詳細な情報に関しては、しっかりとご自身で調べていただくようお願いいたします。<br>
        これらの情報をお客様がご利用することで発生したトラブルや損失に対して、当社は一切責任を負いません。
      </p>
      <div class="row text-center mt-5">
        <div class="col">
          <a href="#" class="btn btn-secondary js-modal-close">閉じる</a>
        </div>
        <div class="col">
          <a href="#" class="btn btn-danger js-modal-open" data-target="modal-questions">Let's Get Ready!!</a>
        </div>
      </div>
    </div>
</div>

<div id="modal-questions" class="modal js-modal">
  <div class="modal-bg js-modal-close">
  </div>
    <div class="modal-questions-content-js">
      <div type="button" class="close js-modal-close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </div>
      <h2 class="mt-2 mb-4 text-center"><b>さぁ！ドローン空撮の準備をしよう！！</b></h2>
      <p class="text-center" style="font-size:13px">※前提として、業務での飛行ではなく個人での趣味飛行を目的とし<br>
             航空法などの知識、理解を持っている方向けです。</p>
      <ol class="questions">
        <li class="question-box">
          <div class="row">
            <span class="question col-9">ドローン操縦の国家資格または民間資格を有している。
            　<p>資格がないと申請や許可を取ることが難しくなります。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-1"><label>はい</label>
              <input type="radio" name="select-1"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">DIPS　ドローン情報基盤システムの登録をしている。
              <p>飛行申請し許可をもらうために必要です。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-2"><label>はい</label>
              <input type="radio" name="select-2"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">FISS ドローン操縦基盤システムの登録をしている。
              <p>登録し申請しなければ飛行許可を取り消される可能性があります。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-3"><label>はい</label>
              <input type="radio" name="select-3"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">機体認証登録を完了している。
              <p>義務化されています。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-4"><label>はい</label>
              <input type="radio" name="select-4"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">風速計を準備している。
            　<p>風速5m以上でのフライトはできません。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-5"><label>はい</label>
              <input type="radio" name="select-5"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">スマホアプリ『ドローンフライトナビ』をダウンロードしている。
              <p>航空法で制限されている空域の把握に有効です。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-6"><label>はい</label>
              <input type="radio" name="select-6"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">フライト予定地が空港などの周辺地域の上空ではない。
              <p>『いいえ』の場合は一括申請が必要です。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-7"><label>はい</label>
              <input type="radio" name="select-7"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">フライト予定地が緊急用務空域ではない。
            　<p>『いいえ』の場合は一括申請が必要です。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-8"><label>はい</label>
              <input type="radio" name="select-8"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">150ｍ以上の高さでの飛行をしない。
              <p>『いいえ』の場合は一括申請が必要です。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-9"><label>はい</label>
              <input type="radio" name="select-9"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">フライト予定地が人口集中地区の上空ではない。
              <p>『いいえ』の場合は一括申請が必要です。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-10"><label>はい</label>
              <input type="radio" name="select-10"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">夜間飛行はしない。
              <p>『いいえ』の場合は国土交通省（航空局）への承認が必要です。<br>
                 訓練とその証明も必要です。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-11"><label>はい</label>
              <input type="radio" name="select-11"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">目視外飛行はしない。
              <p>『いいえ』の場合は国土交通省（航空局）への承認が必要です。<br>
                 訓練とその証明も必要です。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-12"><label>はい</label>
              <input type="radio" name="select-12"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">人・物・車等から30m未満での飛行はしない。
              <p>『いいえ』の場合は国土交通省（航空局）への承認が必要です。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-13"><label>はい</label>
              <input type="radio" name="select-13"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">イベント上空飛行はしない。
              <p>『いいえ』の場合は国土交通省（航空局）への承認が必要です。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-14"><label>はい</label>
              <input type="radio" name="select-14"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">危険物輸送はしない
              <p>『いいえ』の場合は国土交通省（航空局）への承認が必要です。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-15"><label>はい</label>
              <input type="radio" name="select-15"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">物件投下はしない。
              <p>『いいえ』の場合は国土交通省（航空局）への承認が必要です。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-16"><label>はい</label>
              <input type="radio" name="select-16"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">土地所有者・管理者の許可をもらえている。
              <p>申請の有無に関わらず、民法に触れる為、必要な事項です。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-17"><label>はい</label>
              <input type="radio" name="select-17"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">所轄警察への飛行通達を行っている。
              <p>近隣住民などのトラブルを避けるためにも行うべき項目です。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-18"><label>はい</label>
              <input type="radio" name="select-18"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">プライバシー権・肖像権には十分に配慮する。
              <p>法的保護の対象の為、必要です</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-19"><label>はい</label>
              <input type="radio" name="select-19"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">飛行計画を作成する。
              <p>申請や許可をもらう際に必要になる場合があります。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-20"><label>はい</label>
              <input type="radio" name="select-20"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">天候を確認したか。
              <p>雨、雪はドローン故障の原因となります。風は要注意です。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-21"><label>はい</label>
              <input type="radio" name="select-21"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">バッテリーの充電は十分か。
              <p>墜落の恐れや、撮影が十分に行えなくなります。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-22"><label>はい</label>
              <input type="radio" name="select-22"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">プロポの充電を忘れていないか。
              <p>忘れがちです。これがないと操縦できません。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-23"><label>はい</label>
              <input type="radio" name="select-23"><label>いいえ</label>
            </div>
          </div>
        </li>
        <li class="question-box">
          <div class="row">
            <span class="question col-9">トラブル時の連絡先を把握しているか。
              <p>適切な報告を行わないと法律違反など重大な過失に<br>
                 つながる可能性があります。</p>
            </span>
            <div class="col-3">
              <input type="radio" name="select-24"><label>はい</label>
              <input type="radio" name="select-24"><label>いいえ</label>
            </div>
          </div>
        </li>
      </ol>
      <a href="#" class="btn btn-secondary js-modal-close">閉じる</a>
    </div>
</div>

<script>
// Topからモーダルウィンドウを開く
$('.js-modal-top').on('click', function(){
  var target = $(this).data('target');
  var modal = document.getElementById(target);
  scrollPosition = $(window).scrollTop();

  $('body').addClass('fixed').css({'top': -scrollPosition});
  $(modal).fadeIn();
  return false;
});

$('.js-modal-open').on('click', function(){
  var target = $(this).data('target');
  var modal = document.getElementById(target);
  scrollPosition = $(window).scrollTop();

  $('body').addClass('fixed').css({'top': -scrollPosition});
  $(modal).fadeIn();
  changeModal('modal-top', 'modal-questions');
  return false;
});


/* Modal-Qestiinsへのボタン押下時のイベント */
$('#modal-questions').on('click', function() {
    changeModal('modal-top', 'modal-questions');
});
/* モーダルの切り替え */
function changeModal(beforeModal, afterModal) {
    document.getElementById(beforeModal).style.display = 'none';
    document.getElementById(afterModal).style.display = 'block';
}

// モーダルウィンドウを閉じる
$('.js-modal-close').on('click', function(){
  $('body').removeClass('fixed');
  window.scrollTo( 0 , scrollPosition );
  $('.js-modal').fadeOut();
  return false;
});
</script>

<%= javascript_pack_tag 'user/application' %>
