<div class="bg">
  <span class="title">
    <span class="text-light">no drone no life </span>
    <span class="text-light">Dro-Ful</span>
  </span>
</div>

<%= javascript_pack_tag 'user/application' %>