<div class="container py-5">
  <div class="row">
    <div class="col-5 text-center">
      <h3>会員一覧</h3>
    </div>
    <%= render 'admin/searches/search_form_customer_admin' %>
  </div>
    <%= render 'admin/customers/customer_index_admin' %>
</div>