<div class="container p-5 ">
  <div class="row">
    <div class="col-5 text-center">
      <h2 class="heading" data-en="CustomerIndex">会員一覧</h2>
    </div>
    <%= render 'admin/searches/search_form_customer_admin' %>
  </div>
    <%= render 'admin/customers/customer_index_admin' %>
</div>