<div class="container py-5">
  <div class="row">
    <div class="col-md-11 offset-md-1 col-12">
      <h2 class="heading customer-detail mb-5" data-en="CustomerDetail"><%= @customer.nick_name %>さんの会員詳細</h2>
    </div>
  </div>
  <%= render 'admin/customers/customer_show_admin', posts: @posts, customer: @customer %>
</div>