<div class="container">
  <div class="row">
    <div class="col-11 offset-1">
      <h3 class="mb-5 mini-title"><%= @customer.nick_name %>さんの会員詳細</h3>
    </div>
  </div>
  <%= render 'admin/customers/customer_show_admin', posts: @posts, customer: @customer %>
</div>