<% if customers.exists? %>
  <%= render 'admin/customers/customer_index_admin', customer: @customer %>
<% else %>
  <div class="h2 row text-center col-md-8 col-11 mt-5 ml-3">一致する検索結果がありません</div>
<% end %>