<div class="col form-inline d-block text-right">
  <%= form_with url: admin_search_post_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword , placeholder:"タイトル名・都道府県名・申請項目名で検索",class:"col-8" %>
    <%= f.button :type => "submit", class: "btn btn-outline-success" do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>