<div class="container py-5">
  <div class="row mb-4">
    <div class="col-md-5 col-12 text-center">
      <h2 class="sub-title">投稿検索結果</h2>
    </div>
  </div>
  <%= render 'admin/searches/search_post_admin', posts: @posts %>
  <div class="d-flex justify-content-center pt-5">
    <%= paginate @posts %>
  </div>
</div>