<div class="container py-5">
  <div class="row">
    <div class="col-5 text-center">
      <h2 class="heading " data-en="PostIndex">投稿一覧</h2>
    </div>
    <%= render 'admin/searches/search_form_post_admin' %>
  </div>
    <%= render 'admin/posts/post_index_admin', posts: @posts, customer: @customer %>
    <div class="d-flex justify-content-center pt-5">
      <%= paginate @posts %>
    </div>
</div>