<div class="container show-card">
  <div class="row">
    <div class="col-11 offset-1">
      <h3 class="mb-5 mini-title">投稿詳細</h3>
    </div>
  </div>
  <%= render 'admin/posts/post_show_admin', post: @post, customer: @customer, post_comment: @post_comment %>
</div>