<div class="container py-5">
  <div class="row">
    <div class="col-11 offset-1 mb-3">
      <h2 class="heading" data-en="PostDetail">投稿詳細</h2>
    </div>
  </div>
  <%= render 'admin/posts/post_show_admin', post: @post, customer: @customer, post_comment: @post_comment %>
</div>