<% if customers.exists? %>
    <div class="row ml-5">
      <% customers.each do |customer| %>
        <div class="col-3 my-3 mr-2 pt-2 border table-background text-center">
          <%= link_to "#(customer)" do %>
            <%= image_tag customer.profile_image, size: "210x150", class: "pr-1 mb-2" %>
            <p class="card-title text-dark"><%= customer.nick_name %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="h2 row text-center col-6 mt-5 ml-3">一致する検索結果がありません</div>
  <% end %>