// Aboutタイトル
h1{
  font-family: cursive;
}

// スライドショー
.image1 {
  background-image: image-url("image1.jpeg");
}
.image2 {
  background-image: image-url("image2.jpeg");
}
.image3 {
  background-image: image-url("image3.jpeg");
}
.image4 {
  background-image: image-url("image4.jpeg");
}
.image5 {
  background-image: image-url("image5.jpeg");
}

#slide{
  width: 1000px;
  height: 600px;
}

// スライドショーに被せた
.card-text{
  height: 400px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 9999;
}
