/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "skippr";
@import "about";
@import "modal";
@import "pagination";

 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   color:#333333;
 }

body {
  background-image: image-url("sky.webp");
  background-size: cover;
}

main {
  background-color: rgba(255,255,255,0.1);
}

header {
  background-color: #003366;
  opacity: 0.7;
}

footer {
  background-color: #003366;
  opacity: 0.7;
}

// サブタイトルデザイン 新規登録・検索結果で使用
.sub-title {
    color: 	#0000ee;/*文字色*/
  border: solid 3px #0000ee;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
  display: inline-block;
  padding:0 20px;
}

// post indexページのカード背景
.post-index-card {
  background-color: #FFF;
  opacity: 0.9;
  border-radius: 2%;
  width: 30%;
  margin: 0 5px;
}

// customer indexページのカード背景
.customer-card {
  background-color: #FFF;
  opacity: 0.9;
  border-radius: 2%;
}
// テーブル背景
.table-background {
  background-color: #FFF;
  opacity: 0.9;
  border-radius: 2%;
}

// post showページの文字
.post-show-character {
  line-height:45px;
  font-size:17px;
}

// post show,edit,newページの背景
.post-show-background, .post-edit-background, .post-new-background {
  background-color: #fffafa;
  opacity: 0.9;
  border-radius: 0.5em;
}

// 各ページ見出し　斜めタイトル
.heading {
	position: relative;
	padding-top: 50px;
	padding-left: 30px;
	font-size: 26px;
}

.heading span {
	position: relative;
	z-index: 2;
}

.heading::before {
	content: attr(data-en);      //テキストを読み込み、スタイルを指定
	position: absolute;
	transform: rotate(-5deg);    //テキストを斜めに表現
	top: -7px;
	left: 50px;
	color: #0000ee;
	opacity: 0.5;
	font-size: 60px;
	font-weight: 400;
	font-family: luxus-brut, cursive;
	font-style: italic;
}

// トップページモーダル案内　点滅
.blinking{
    -webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
    position: absolute;
    top: 76%;
    left: 80%;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

// バリデーション時のレイアウト崩れを防ぐ
.field_with_errors {
  display: contents;
}

// コメントのもっと見る...
.more{
  color: #808080;
  cursor: pointer;
  font-weight: bold;
}

[role="link"] {
  cursor: pointer;
}

.signup,.signin{
  color: #FFF;
}

.container{
  margin: 0 auto;
}