<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
    	<a class="navbar-brand h1" href="/" style="font-size: 36px"><%= image_tag('dro-ful-logo.png', size: '250x100') %></a>
    	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" style>
        <div class="mx-auto text-light">管理者用にログイン中</div>
        <div>
          <ul class="navbar-nav ml-auto d-block">
            <% if admin_signed_in? %>
              <li class="d-inline-block">
           <%= link_to "会員一覧", admin_customers_path, class: 'nav-link mx-2', style:"color:white;"  %>
              </li>
              <li class="d-inline-block">
           <%= link_to "投稿一覧", admin_posts_path, class: 'nav-link mx-2', style:"color:white;",data: {"turbolinks"=>false}  %>
              </li>
              <li class="d-inline-block">
           <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link mx-2', style:"color:white;"  %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>